.wrap{
    background: #a5d3ffd0;
    padding:60px 0;
}
.user-con{
    position: relative;
    width: 400px;
    background: #fff;
    margin: 0 auto;
}
.user-con .user-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}
.user-con .user-box{
    padding: 20px;
}
/*错误框*/
.user-con .user-box .error-item{
    position: relative;
    padding:4px 0 4px 40px;
    margin-bottom: 10px;
    border:1px solid red;
    color: red;
    background: #fde9e9;
    display: none;
}
/*图标err*/
.user-con .user-box .error-icon{
    position: absolute;
    left: 14px;
    top:50%;
    font-size: 14px;
    margin-top: -7px;
}
.user-con .user-item{
    position: relative;
    margin-bottom: 20px;
}
.user-con .user-item .user-label{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    line-height: 36px;
    background: #f3f3f3;
    font-size: 22px;
    color: #d3d3d3;
    text-align: center;
    border: 1px solid #bdbdbd;

}
.user-con .user-item .user-content{
    padding: 10px 0 10px 50px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    border: 1px solid #bdbdbd;
    outline: none;
}
.btn-submit{
    width: 100%;
    padding: 6px 0;
    text-align: center;
    font-size: 22px;
}
.link-item{
    text-align: right;
    margin-top: 10px;
}
.link{
    padding-left: 10px;
    color: #999999 
}
