<!doctype html>
<html>
	<head>
		<%= require('html-loader!./layout/head-co.html')  %>
		<title>登录页 - 尧哥电商平台，YGmall</title>
	</head>
<body>
<%= require('html-loader!./layout/nav-s.html')  %>	
<div class="wrap">
	<div class="w">
		<div class="user-con">
			<div class="user-title">用户登录</div>
				<div class="user-box">
					<div class="error-item">
						<i class="fa fa-minus-circle error-icon"></i>
						<p class="err-msg">Error</p>
					</div>
					<div class="user-item">
						<label class="user-label" for="username">
							<i class="fa fa-user"></i>
						</label>
						<input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off">
					</div>
					<div class="user-item">
						<label class="user-label" for="password">
							<i class="fa fa-lock"></i>
						</label>
						<input type='password' class="user-content" id="password" placeholder="请输入密码" autocomplete="off">
					</div>
					<a class="btn btn-submit" id="submit">登录</a>
					<div class="link-item">
						<a href="./user-fixpsw.html" target="_blank" class="link">忘记密码？</a>
						<a href="./user-reg.html" target="_blank" class="link">立即注册！</a>
					</div>
				</div>
		</div>
	</div>
</div>
<%= require('html-loader!./layout/foot-co.html')  %>		   
</body>
</html>
