<!doctype html>
<html>
	<head>
		<%= require('html-loader!./layout/head-co.html')  %>
		<title><%=htmlWebpackPlugin.options.title%> - 尧哥电商平台，YGmall</title>
	</head>
<body>
<%= require('html-loader!./layout/nav.html')  %>	
<%= require('html-loader!./layout/header.html')  %>	
<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a href="./index.html" class="link">YGmall>></a>
            <span></span>
            <span class="link-text"><%=htmlWebpackPlugin.options.title%></span>
       </div>
    </div>
</div>
<div class="wrap w">
	<%= require('html-loader!./layout/nav-side.html')  %>	
    <div class="content withnav">
        <div class="panel">
            <div class="panel-title">个人中心</div>
            <div class="panel-body">
                    <div class="user-info">
                            <div class="form-line">
                                <span class="label">用户名：</span>
                                <span class="text">加载中</span>
                            </div>
                            <div class="form-line">
                                    <span class="label">手机号：</span>
                                    <span class="text">加载中</span>
                            </div>
                            <div class="form-line"> 
                                    <span class="label">邮   箱：</span>
                                    <span class="text">加载中</span>
                            </div>
                            <div class="form-line">
                                    <span class="label">密保问题：</span>
                                    <span class="text">加载中</span>
                            </div>
                            <div class="form-line">
                                    <span class="label">密保答案：</span>
                                    <span class="text">加载中</span>
                            </div>
                           
                            <a href="./user-center-updata.html" class="btn btn-submit">修改个人信息</a>
                            
                                
                        </div>
            </div>
        </div>
    </div>
</div>
<%= require('html-loader!./layout/foot-co.html')  %>		   
</body>
</html>
