<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://www.baidu.com" class="link" target="_blank">百度</a> |
            <a href="https://www.taobao.com" class="link" target="_blank">淘宝</a> |
            <a href="https://www.JD.com" class="link" target="_blank">京东</a> |
            <a href="https://www.immoc.com" class="link" target="_blank">慕课</a> 
        </div>
        <p class="copyright">Copyright © 1996 - 2018 YAOGE Corporation, All Rights Reserved</p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>