<div class="nav">
     <div class="w">
         <div class="user info">
            <span class="user unlogin">
                <span class="link js-login">登录</span>
                <span class="link js-register">注册</span>
            </span>
            <span class="user login">
                    <span class="link-text">欢迎！</span>
                    <span class="link">退出</span>
                </span>
       </div>
        <ul class="nav-list">
            <li class="nav-item">
                <i class="fa fa-shopping-cart"></i>
                <a class="link" href="./shopping.html">购物车</a>(<span class="cart-cont">0</span>)
            </li>
            <li class="nav-item">
                <a href="./order-list.html" class="link">我的订单</a>
            </li>
            <li class="nav-item">
                    <a href="./user-center.html" class="link">我的YGmall</a>
            </li>
            <li class="nav-item">
                    <a href="./about.html" class="link">关于YGmall</a>
            </li>
        </ul>
    </div>
</div> 