/*defined css*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(255, 255, 255, 0.918);
    font:12px/1.5em tahoma,arial,MicrosoftYahei,sans-serif;
}
li{
    list-style:none ;
}
img{
    display: block;
}
label{
    cursor: pointer;
}
input{
    cursor: pointer
}
/*定宽*/
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/*全局通用*/
/*hide*/
.hide{
    display: none;
}
/*href*/
.link{
    color: #4e4e4e;
    cursor: pointer;
    text-decoration :none;
}
.link:hover{
    color: #4d80df;
}
.link-text{
    color: #4e4e4e;
    text-decoration :none;
}
/*btn*/
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background-color: #0a7dc0;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
.loading{
    margin: 10px auto;
    display: block;
    width: 65px;
    height: 65px;
    border:1px solid #ddd;
    border-radius: 5px;
    
    background: url(../../image/icon/loading.gif) no-repeat;
    opacity: .6;
}